<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ g.title }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='theme/' + (theme|default('default')) + '/css/main.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        {% block header %}
        <h1>Sistema d'Exàmens Online</h1>
        {% endblock %}
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
        <p>&copy; {{ g_year }} {{ g_name }}. Tots els drets reservats.</p>
        {% endblock %}
    </footer>

    {% block scripts %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% endblock %}
</body>
</html>